build/
tmp/
vendor/
!vendor/keep.me
*.tmp
*.log
**/globfoo.txt
globdir/**
a/**/globbar.txt
/anchored.txt
dironly/
literal/file\*.txt
literal/file\?.txt
literal/file\[abc\].txt
precedence.log
!important.log
pruned/
!pruned/deep/keep.txt
double_negation/important.tmp
foo
file?.txt
file[abc].log
file[0-9].txt
